div{
    top:50%;
    text-align: center;
    position: relative;
    margin-top: 250px;
    background-color: blueviolet;
    letter-spacing: 3px;
    padding:20px;
    font-size: 30px;
    width:200px;
    margin-left: 650px;
    color:white;
    
}

div:hover{
    background-color: aliceblue;
    color:black;
}